@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* All pages; */
body {
    font-family: 'Inter', sans-serif;
}

.bg-primary {
    background-color: #2E1462;
}

.bg-white {
    background-color: #fff;
}

.text-black {
    color: #000;
}

.text-gray {
    color: #666;
}

.logo {
    width: 8rem;
    border: 0.35rem solid #45FEFE;
    background: white;
    padding: 1rem;
    border-radius: 1.75rem;
}

.btn {
    /* display: inline-block; */
    font-weight: 600;
    text-decoration: none;
    background-color: #45FEFE;
    color: #000000;
    padding: 1em;
    border-radius: 100px;
    text-align: center;
    border: none;
}

.btn-outline {
    /* display: inline-block; */
    font-weight: 600;
    text-decoration: none;
    border: 4px solid #45FEFE;
    background-color: #FFFFFF;
    color: #000000;
    padding: 1em;
    border-radius: 100px;
    text-align: center;
}

.title {
    font-weight: 600;
}

/* IMC Calc page; */
.form-input {
    background-color: #F6F6F6;
    color: #666666;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

.form-inputCheckbox {
    accent-color: #45FEFE;
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; */
}

.form-label {
    color: #666666;
}

/* Recover Password page; */
